<div id="mainbody">
<h2>Editing tempacct</h2>

<%= render 'form' %>

<div class="tempaccts">
<%= link_to 'Show', @tempacct %> |
<%= link_to 'Back', tempaccts_path %>
  <div style="clear: both;"></div>
</div>
</div>

