<div id="login">
	<li>
	<% if current_user %>
    Logged in as <%= current_user.username %>.</li><li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %>
    <% else %>
    <%= link_to 'Login', new_user_session_path, :id => 'login-link' %>
    <% end %>
	</li>
</div>